[submodule "CVPR2019-CMCS"]
	path = CVPR2019-CMCS
	url = https://github.com/Finspire13/CMCS-Temporal-Action-Localization.git
[submodule "PaperLists/Deep_Learning_Temporal_Action_Detection"]
	path = PaperLists/Deep_Learning_Temporal_Action_Detection
	url = https://github.com/JiaHeeeee/Deep_Learning_Temporal_Action_Detection.git
[submodule "CVPR2018-LearningToCompare_FSL(RelationNetwork)"]
	path = CVPR2018-LearningToCompare_FSL(RelationNetwork)
	url = https://github.com/floodsung/LearningToCompare_FSL.git
[submodule "PaperLists/awesome-weakly-supervised-action-localization"]
	path = PaperLists/awesome-weakly-supervised-action-localization
	url = https://github.com/VividLe/awesome-weakly-supervised-action-localization.git
[submodule "PaperLists/awesome-nas-papers"]
	path = PaperLists/awesome-nas-papers
	url = https://github.com/jackguagua/awesome-nas-papers.git
[submodule "VisualUtils/pytorch-cnn-visualizations"]
	path = VisualUtils/pytorch-cnn-visualizations
	url = https://github.com/utkuozbulak/pytorch-cnn-visualizations.git
[submodule "VisualUtils/grad-cam-pytorch"]
	path = VisualUtils/grad-cam-pytorch
	url = https://github.com/kazuto1011/grad-cam-pytorch.git
[submodule "PaperLists/CVPR2020-Code"]
	path = PaperLists/CVPR2020-Code
	url = https://github.com/amusi/CVPR2020-Code.git
[submodule "FeatureExtractor/pytorch-i3d-feature-extraction"]
	path = FeatureExtractor/pytorch-i3d-feature-extraction
	url = https://github.com/Finspire13/pytorch-i3d-feature-extraction.git
[submodule "FeatureExtractor/thumos14-i3d"]
	path = FeatureExtractor/thumos14-i3d
	url = https://github.com/demianzhang/thumos14-i3d.git
